{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>
      
      <title>Перепись 1710 года</title>
      <style>
         html, body, #map {
         width: 100%; height: 100%; padding: 0; margin: 0;
         }
         .header {
         height: 10%;
         text-align: center;
         padding-top: 20px;
         }
         .name {
         font-weight: bold;
         }
      </style>
   </head>
   <body>
        <div class='name'>Ретнова деревня.</div><br>
        Двор. А в нем живет крестьянин Степан Романов [ВАНДЫШЕВ] 60 лет. У него детей 2 сына: Петр 30 лет, Дмитрей 20 лет. У него ж 6 дочерей: Акилина 22 лет, Марья 16 лет, Ефросиния 12 лет, Ксения 7 лет, Овдотья 5 лет, Варвара 4 лет. У него ж 2 снохи: Наталья 30 лет, Соломания 40 лет, вдова Катери(л.373 об.)на 40 лет. У него ж внук Данила полугодовой. У него ж внук Матвей 3 лет. <br>
        Двор. А в нем живет крестьянин Ларион Герасимов [КЛИШЕВ] 44 лет. У него сын Трофим 15 лет. У него ж жена Олена 42 лет. У него ж 4 дочери: Ксения 13 лет, Матрена 11 лет, Парасковья 7 лет, Марина годовая. <br>
        Двор. А в нем живет крестьянин Ефим Герасимов [КЛИШЕВ] 50 лет. У него детей 3 сына: Тимофий 22 лет, Микифор 15 лет, Федор 11 лет. У него ж внук Ефим 2 лет. У него ж жена Парасковья 53 лет. У него ж 3 дочери: Дарья 22 лет, Евфимия 15 лет, Татьяна 3 лет. У него ж сноха Мелиния 30 лет. <br>
        Двор. А в нем живет крестьянин Евтефий Иевлев [ШАЙДУРОВ, ЛЯМКИН] 65 лет. У него сын Мартемьян 35 лет. У него ж 4 внука: Федор 7 лет, Семен 4 лет, Трофим годовой, Михайло полугодовой. У него ж жена Федосья 70 лет, сноха Соломия 40 лет. 
        Двор. А в нем живет крестьянин Наум Герасимов [КЛИШЕВ] 45 лет. У него ж детей 2 сына: Иван 12 лет, Микита 7 лет. У него ж жена Катерина 45 лет. У него ж дочь Устинья 6 лет. <br>
        Двор. А в нем живет крестьянин Мартын ЧАЩИН [ИМЯННИКОВ] 60 лет. У него ж брат Данило 55 лет. У него ж е племянник Иван 20 лет. У него ж 2 племянъ(л.374)ника: Стефан 4 лет, Сергий полугодовой. У него же невеска Фетиния 40 лет. У него ж 2 дочери: Пелагия 20 лет, Елена 18 лет. У него ж 4 племянницы: Федосья 18 лет, Мелания 14 лет, Марфа 9 лет, Феврония 3 лет. <br>
        Двор. А в нем живет крестьянин Иван Ефтефиев [ЧАЩИН, РЕТНОГО] 50 лет. У него сын Ефим 30 лет. У него ж брат Микифор 35 лет. У него ж племянник Сергий 5 лет. У него ж невеска Агафья 40 лет. У него же 3 дочери: Пелагия 15 лет, Марфа 14 лет, Марина 7 лет. У него ж племянница Дарья полугодовая. <br>
        Двор. А в нем живет Козма Микифоров [БАБКИН] 65 лет. Детей 3 сына: Яков 26 лет, Иван 18 лет, Данило 12 лет. У него ж жена Соломия 70 лет. У него же сноха Анна 32 лет. У него ж племянница Анна 14 лет. У него ж 2 внучки: Татьяна 3 лет, Марина годовая. <br>
        Двор. А в нем живет крестьянин Семен Самойлов 6 лет. У него мать Пелагия Мартынова дочь 30 лет. У него ж сестра Марья 2 лет.<br>
     </div>
  
  </body>
</html>
{% endblock content %}