{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>
      
      <title>Перепись 1710 года</title>
      <style>
         html, body, #map {
         width: 100%; height: 100%; padding: 0; margin: 0;
         }
         .header {
         height: 10%;
         text-align: center;
         padding-top: 20px;
         }
         .name {
         font-weight: bold;
         }
      </style>
   </head>
   <body>
        <div class='name'>В Осинской деревня.</div>
        <br>
        Двор. А в нем живет крестьянин Микита Тимофиев [ТОЛСТОВО, НЕЧАЕВ] 60 лет. У него детей 2 сына: Степан 25 лет, Герасим 15 лет. У него ж 4 внука: Козма 7 лет, Микифор 5 лет, Ермола 3 лет, Андрий 2 лет. У него ж 3 снохи: вдова Агафья 40 лет, Дарья 38 лет, Меланья 23 лет. У него ж внучка Парасковья 3 лет. <br>
        
        Двор. А в нем живет крестьянин Павел Васильев [ЗАМЯТНИН] 44 лет. У него ж 5 сынов: Герасим 20 лет, Иван 12 лет, Микифор 9 лет, Петр 3 лет, Петр ж полугодовой. У него ж мать вдова Овдотья 62 лет. У него ж жена Фетенья 44 лет. У него ж 2 дочери: Агафья 11 лет, Василиса 8 лет. У него ж сноха Наталья 20 лет. У него ж внучка Варвара полугодовая. <br>
       
        Двор. А в нем живет крестьянин Герасим Васильев [ЗАМЯТНИН] 35 лет. У него сын Василей 4 лет. У него ж брат Фефил 32 лет. У него ж покормленник Данило 12 лет. У него ж жена Фетинья 35 лет. У него ж 2 дочери: Марфа 4 лет, Овдотья полугодовая. У него ж сноха Акилина 22 лет. У него ж племянница Овдотья 2 лет. <br>
        
        (л.372) Двор. А в нем живет крестьянин Семен Тимофиев [ТОЛСТОВО, НЕЧАЕВ] 62 лет. У него ж племянник Семен 32 лет. У него ж внучек Афонасей 13 лет. У него ж жена Марина 40 лет. У него ж 3 патчерицы: Софья 18 лет, Татьяна 15 лет, Катерина 12 лет. У него ж 2 внучки: Гликерья 8 лет, Елена 3 лет. <br>
       
        Двор. А в нем живет крестьянин Кирило Тимофиев [ТОЛСТОВО, НЕЧАЕВ] 43 лет. У него ж 3 сына: Герасим 8 лет, Левонтей 6 лет, Афонасей 3 лет. У него ж жена Овдотья 40 лет. У него ж 2 дочери: Наталья 8 лет, Пелагия 15 лет. <br>
        Двор. А в нем живет крестьянин Степан Микифоров [ТРОШЕВ] 50 лет. У него 2 сына: Федор 13 лет, Петр 7 лет. У него ж брат Семен 40 лет. У него ж племянник Иван 3 лет. У него ж жена Меланья 40 лет. У него ж дочери: Марфа 16 лет, Устинья 14 лет, Акилина 12 лет. У него ж 2 племянницы: Анна 3 лет, Марья полугодовая. У него ж сноха Устинья 32 лет. <br>
        Двор. А в нем живет крестьянин Степан Меркурьев [ОСИНЦОВ] 50 лет. У него 3 сына: Василей 13 лет, Иван 7 лет, Терентей 5 лет. У него ж жена Агрофена 40 лет. У него ж 3 дочери: Марфа 11 лет, Федосья 9 лет, Оксинья 2 лет. <br>
        Двор. А в нем живет крестьянин Микита [Остафьев сын] ЗАМЯТНИН 50 лет. У него сын Петр 12 лет. У него ж брат Василей 35 [лет]. У него ж мать вдова Дарья 75 лет. У него ж сестра Марья 25 лет. У него ж покормленица Ирина 13 лет. У него ж жена Марина 40 лет. У него ж 3 дочери: Ульяна 8 лет, (л.372 об.) Овдотья 5 лет, Марина 5 ж лет. У него ж сноха Ирина 25 лет. <br>
        Двор. А в нем живет крестьянин Василей Микифоров [ТРОШЕВ] 43 лет. У него 3 сына: Прокопей 13 лет, Микифор 7 лет, Федор 2 лет. У него ж жена Акилина 40 лет. <br>
        Двор. А в нем живет крестьянин Киприян Савельев 60 лет. У него 2 сына: Артемей 20 лет, Филип 7 лет. У него ж жена Федосья 60 лет. У него ж 3 дочери: Феврония 22 лет, Ирина 12 лет, Стефанида 3 лет. У него ж сноха Катерина 22 лет.<br><br>
    </div>
   
</body>
</html>
{% endblock content %}