{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>
      
      <title>Перепись 1710 года</title>
      <style>
         html, body, #map {
         width: 100%; height: 100%; padding: 0; margin: 0;
         }
         .header {
         height: 10%;
         text-align: center;
         padding-top: 20px;
         }
         .name {
         font-weight: bold;
         }
      </style>
   </head>
   <body>
        <div class='name'>Меркушина деревня.</div><br>
         Двор. А в нем живет крестьянин Афонасей ТЮТИН 72 лет. У него ж детей 2 сына: Родион 30 лет, Данило 20 лет. У него ж 2 внучка: Василей 10 лет, Меркурей 6 лет. У него ж жена Афонасья Сидорова дочь 65 лет. У него ж 2 снохи: вдова Федора 32 лет, Мавра 30 лет. У него ж 3 внучки: Марья 10 лет, Матрена 8 лет, Улита 5 лет. <br>
         Двор. А в нем живет крестьянин Семен Афанасьев 45 лет. У него 3 сына: Игнатей 13 лет, Ортемей 10 лет, Ефим 5 лет. У него ж жена Катерина 46 лет.<br>
         Двор. А в нем живет крестьянин Онтон Артемьев [ПОДХОЛЮЗИН] 35 лет. У него детей 2 сына: Осип 5 лет, Михайло 2 лет. У него ж брат Аверкий 30 лет. У него ж племянъник Алексей 4 лет. У него ж мать Ирина 70 лет. У него ж сестра вдова Настасья 29 лет. У него ж сноха (л.373) Анна 30 лет. У него ж племянница Ирина 4 лет. <br>
         Двор. А в нем живет крестьянин Дементей Артемьев [ПОДХОЛЮЗИН] 60 лет. У него детей 3 сына: Иван 20 лет, Ортемей 18 лет, Микита 8 лет. У него ж дочь Овдотья 10 лет. У него ж 2 внучки: Татьяна 2 лет, Матрена годовая. У него ж сноха Ирина 25 лет. <br>
         Двор. А в нем живет крестьянин Михий Павлов 35 лет. У него ж детей 5 сынов: Еремей 7, Сава 6 лет, Роман 5 лет, Василей 4 лет, Алексей полугодовой. У него ж мать вдова Дарья 65 лет. У него ж 4 сестры: Анна 30 лет, Овдотья 20 лет, Елена 18 лет, Огафья 15 лет. У него ж дочь Матрена 4 лет.<br>
         Двор. А в нем живет крестьянин Панфил Меркурьев [ОСИНЦОВ] 46 лет. У него детей 4 сына: Микифор 15 лет, Василей 6 лет, Сергий 4 лет, Тимофий полугодовой. У него ж жена Марья Лукина дочь 40 лет. У него ж 3 дочери: Оксинья 16 лет, Ирина 10 лет, Акилина 9 лет. <br><br>
        </div>
   
    </body>
 </html>
 {% endblock content %} 